body, html{
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    background:linear-gradient(135deg, rgba(47, 47, 47, 0.08) 0%, rgba(47, 47, 47, 0.08) 90%,rgba(75, 75, 75, 0.08) 90%, rgba(75, 75, 75, 0.08) 100%),linear-gradient(45deg, rgba(172, 172, 172, 0.1) 0%, rgba(172, 172, 172, 0.1) 65%,rgba(18, 18, 18, 0.1) 65%, rgba(18, 18, 18, 0.1) 100%),linear-gradient(90deg, rgba(157, 157, 157, 0.04) 0%, rgba(157, 157, 157, 0.04) 83%,rgba(198, 198, 198, 0.04) 83%, rgba(198, 198, 198, 0.04) 100%),linear-gradient(0deg, rgba(189, 189, 189, 0.07) 0%, rgba(189, 189, 189, 0.07) 22%,rgba(127, 127, 127, 0.07) 22%, rgba(127, 127, 127, 0.07) 100%),linear-gradient(0deg, rgba(79, 79, 79, 0.03) 0%, rgba(79, 79, 79, 0.03) 34%,rgba(96, 96, 96, 0.03) 34%, rgba(96, 96, 96, 0.03) 100%),linear-gradient(135deg, rgba(54, 54, 54, 0.05) 0%, rgba(54, 54, 54, 0.05) 68%,rgba(192, 192, 192, 0.05) 68%, rgba(192, 192, 192, 0.05) 100%),linear-gradient(0deg, rgba(62, 62, 62, 0.08) 0%, rgba(62, 62, 62, 0.08) 99%,rgba(114, 114, 114, 0.08) 99%, rgba(114, 114, 114, 0.08) 100%),linear-gradient(0deg, rgba(227, 227, 227, 0.07) 0%, rgba(227, 227, 227, 0.07) 83%,rgba(129, 129, 129, 0.07) 83%, rgba(129, 129, 129, 0.07) 100%),linear-gradient(45deg, rgba(27, 27, 27, 0.1) 0%, rgba(27, 27, 27, 0.1) 27%,rgba(58, 58, 58, 0.1) 27%, rgba(58, 58, 58, 0.1) 100%),linear-gradient(90deg, rgb(107, 107, 107),rgb(2, 2, 2));
    min-height: 100%;
}

#main {
    text-align: center;
    background-color: white;
    border-radius: 1.5em;
    max-width: 50%;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
    margin: auto;
}

#footer {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

h1 {
    margin-top: 0.5em;
    font-size: 4em;
    margin-bottom: 0;
}

h2 {
    margin-top: 0.5em;
    font-size: 2em;
}

h3{
    padding-right: 5em;
    padding-left: 5em;
}

li {
    float: left;
    width: 20%;

  }
 
  li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
    font-weight: bold;
    text-decoration: none;
  }

  li a:hover {
    background-color: red;
    color: white;
  }

  a:link {
      color: white;
      background-color: #181717;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
  }